<div id="background-image-container">
  <nav id="top-nav" class="d-flex align-items-center position-fixed justify-content-between w-100 container">
    <div id="left-nav-menu" class="d-flex align-items-center">
      <ul class="d-flex gap-4 align-items-center mb-0">
        <li>HOME</li>
        <li>PAGES</li>
        <li>BLOG</li>
        <li>EVENTS</li>
        <li>SHOP</li>
        <li>CONTACT US</li>
      </ul>
    </div>

    <div id="logo-div">
<!--      <img ngSrc="../public/img/m-logo 1.png">-->
    </div>

    <div id="right-icon-menu" class="d-flex gap-4">
      <div id="clipboard-icon-div"></div>
      <div id="search-icon-div"></div>
      <div id="menu-icon-div"></div>
    </div>
  </nav>

  <section id="middle-title-section">
    <p id="make-coffee-p" class="w-100 text-center">
      Making coffee with our love
    </p>
    <h1 class="w-100 text-center">Signature Coffee</h1>
    <h1 class="w-100 text-center">Creations</h1>
  </section>
</div>

